<div id="wrap">
    <div id="top">
        <nav class="navbar navbar-inverse navbar-static-top">
            <header class="navbar-header">
                <a href="" class="navbar-brand "><i class="fa fa-calendar"></i> Schedule Manager</a>
            </header>
            <div class="topnav">
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <a data-toggle="tooltip" data-original-title="Logout" data-placement="bottom" class="btn btn-metis-1 btn-sm" ng-click="logout()">
                            <i class="fa fa-power-off"></i>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <header class="head">
            <div class="main-bar">
                <h3><i class="fa fa-pencil-square-o"></i> Reservations</h3>
            </div>
        </header>
    </div>
    <div id="left">
        <div class="media user-media">
            <div class="media-body">
                <ul class="list-unstyled user-info">
                    <h5 class="media-heading">{{firstName}} {{lastName}}</h5>
                    <li><small>{{administrator}}</small></li>
                    <li><small>{{moduleManager}}</small></li>
                    <li><small><i class="fa fa-calendar-o"></i> {{todayDate}}</small></li>
                </ul>
            </div>
        </div>
        <ul id="menu" class="collapse">
            <li class="nav-header">Menu</li>
            <li><a href="" ng-click="changeLocation('home')" ><i class="fa fa-table"></i> Schedule</a></li>
            <li class="panel ">
                <a href="" data-parent="#menu" data-toggle="collapse" class="menu-focus accordion-toggle" id="accordion-toggle" ng-click="open('reservation')" data-target="#dashboard-nav">
                    <i class="fa fa-pencil-square-o"></i> Reservations
                </a>
                <ul class="{{classReservations}}" id="dashboard-nav">
                    <li>
                        <a href="" ng-click="changeLocation('new-reservation')">
                            <i class="fa fa-angle-right"></i> New
                        </a>
                    </li>
                    <li>
                        <a href="" ng-click="changeLocation('history-reservations')">
                            <i class="fa fa-angle-right"></i> History
                        </a>
                    </li>
                    <li ng-show="moduleManager">
                        <a class="submenu-focus" href="">
                            <i class="fa fa-angle-right"></i> Manage
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div id="content">
        <div class="outer">
            <div class="inner">
                <div class="row ui-sortable">
                    <div class="col-lg-12">
                        <div class="box">
                            <div class="body" id="collapse4">
                                <table class="table table-condensed table-bordered">
                                    <thead>
                                        <tr role="row">
                                            <th style="min-width: 140px;">Teacher</th>
                                            <th style="min-width: 140px;">Lesson</th>
                                            <th style="min-width: 100px;">Group</th>
                                            <th style="min-width: 25px;">Date</th>
                                            <th style="min-width: 100px;">Time Slot</th>
                                            <th style="min-width: 188px;">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="request in pendingRequests">
                                            <td>{{request.teaching.teacher.first_name}} {{request.teaching.teacher.last_name}}</td>
                                            <td>{{request.teaching.lesson.subject.label}} {{request.teaching.lesson.lesson_type.label}} {{request.teaching.lesson.label}}</td>
                                            <td>{{request.teaching.group.label}}</td>
                                            <td>{{request.date}}</td>
                                            <td>{{request.time_slot.start}} - {{request.time_slot.end}}</td>
                                            <td ng-hide="selectedIndex == $index">
                                                <button class="btn btn-primary" ng-disabled="isManaging" ng-click="checkRoomAvailability(request, $index)">
                                                    <i class="glyphicon glyphicon-refresh"></i> Check
                                                </button>
                                                <button class="btn btn-danger" ng-disabled="isManaging" ng-click="refuseRequestMM(request, $index)">
                                                    <i class="glyphicon glyphicon-remove"></i> Refuse
                                                </button>
                                            </td>
                                            <td ng-show="selectedIndex == $index && algoOK">
                                                <button class="btn btn-success" ng-click="validateRequest(request, $index)">
                                                    <i class="glyphicon glyphicon-ok"></i> Validate
                                                </button>
                                                <button class="btn btn-danger" ng-click="refuseRequestMM(request, $index)">
                                                    <i class="glyphicon glyphicon-remove"></i> Refuse
                                                </button>
                                            </td>
                                            <td ng-show="selectedIndex == $index && !algoOK">
                                                <button class="btn btn-danger" ng-click="refuseRequestAlgo(request, $index)">
                                                    <i class="glyphicon glyphicon-remove"></i> Refuse
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <p>2013 &copy; Schedule Manager</p>
</div>