<div id="wrap">
    <div id="top">
        <nav class="navbar navbar-inverse navbar-static-top">
            <header class="navbar-header">
                <a href="" class="navbar-brand "><img class="small" src="assets/img/logo.png" alt=""></a>
                <a class="btn-primary visible-xs " data-toggle="collapse" href="#menu" id="menu-toggle">
                    <i class="icon-bar"></i>
                    <i class="icon-bar"></i>
                    <i class="icon-bar"></i>
                </a>
            </header>
            <div class="topnav">
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <a data-toggle="tooltip" data-original-title="Logout" data-placement="bottom" class="btn btn-metis-1 btn-sm" ng-click="logout()">
                            <i class="fa fa-power-off"></i>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <header class="head">
            <div class="main-bar">
                <h3><i class="fa fa-table"></i> Agenda</h3>
            </div>
        </header>
    </div>
    <div id="left">
        <div class="media user-media">
            <a href="#" class="quick-btn pull-right">
                <i class="fa fa-user fa-3x"></i>
                <span class="label label-danger">2</span>
            </a>
            <div class="media-body">
                <h5 class="media-heading">{{firstName}} {{lastName}}</h5>
                <ul class="list-unstyled user-info">
                    <li>&nbsp;</li>
                    <li>Today's date<br/>
                        <small><i class="fa fa-calendar-o"></i> {{todayDate}}</small></li>
                </ul>
            </div>
        </div>
        <ul id="menu" class="collapse" ng-init="classReservationsAdmin='collapse'">
            <li class="nav-header">Menu</li>
            <li><a href="" ><i class="fa fa-table"></i> Schedule</a></li>
            <li class="panel ">
                <a href="" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" id="accordion-toggle" ng-click="open('reservation')" data-target="#dashboard-nav">
                    <i class="fa fa-pencil-square-o"></i> Reservations
                    <span class="pull-right">
                        <i class="fa fa-angle-left"></i>
                    </span>
                </a>
                <ul class="{{classReservations}}" id="dashboard-nav">
                    <li class=""><a href="" ng-click="changeLocation('reservation')">New request</a></li>
                    <li class=""><a href="">Pending requests</a></li>
                </ul>
            </li>
            <li class="panel " ng-show="admin">
                <a href="" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" id="accordion-toggle-admin" ng-click="open('admin')" data-target="#dashboard-nav">
                    <i class="fa fa-pencil-square-o"></i> Administration
                    <span class="pull-right">
                        <i class="fa fa-angle-left"></i>
                    </span>
                </a>
                <ul class="{{classReservationsAdmin}}" id="dashboard-nav">
                    <li class=""><a href="" ng-click="changeLocation('admin-calendar')">Other schedules</a></li>
                    <li class=""><a href="" ng-click="changeLocation('admin-reservation')">Pending requests</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div id="content">
        <div class="outer">
            <div class="inner" >


                <form class="form-inline">
                    <div class="form-group" >
                        <label class="control-label">Group: </label>


                            <select class="form-control"
                                    ng-model="group"
                                    ng-options="group.label for group in groups"
                                    ng-change="getGroupCalendar(group)" required></select>

                    </div>

                    <div class="form-group">
                        <label class="control-label">Teacher: </label>


                            <select class="form-control"
                                    ng-model="teacher"
                                    ng-options="teacher.label for teacher in teacher"
                                    ng-change="" required></select>

                    </div>
                </form>

                <div class="span8" ng-show="showCalendar">
                    <div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
                        <h4>{{alertMessage}}</h4>
                    </div>
                    <div class="btn-toolbar">
                        <p class="pull-right lead">Agenda</p>
                        <div class="btn-group">
                            <button class="btn btn-success" ng-click="changeView('agendaDay', myCalendar)">Day</button>
                            <button class="btn btn-success" ng-click="changeView('agendaWeek', myCalendar)">Week</button>
                            <button class="btn btn-success" ng-click="changeView('month', myCalendar)">Month</button>
                        </div>
                    </div>
                    <div id="calendar" class="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar"></div>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="footer">
    <p>2013 &copy; Schedule Manager</p>
</div>
