td {
    vertical-align: 0 !important;
}

h1 {
    color: #999999 !important;
}
.menu-focus {
    background-color: #404040;
    outline: medium none;
}

.menu-focus,
.submenu-focus {
    color: #FFFFFF !important;
}

.top-buffer {
    margin-top:20px;
}

.tab-pane {
    padding-top: 10px !important;
}

#div-tabs-agenda {
    width: 200px;
    position: absolute;
    top: 11px;
    right: 170px;
    z-index: 1;
}

#div-calendar {
    position:relative;
}